{% if trmnl.plugin_settings.custom_fields_values.timemode == '24_hour' %}
{% assign mask_time = '%H:%M' %}
{% assign mask_datetime = '%-m/%-d %H:%M' %}
{% else %}
{% assign mask_time = '%-I:%M%P' %} 
{% assign mask_datetime = '%-m/%-d %-I:%M%P' %}
{% endif %}

{% assign now_local = trmnl.system.timestamp_utc 
| plus: trmnl.user.utc_offset %}
{% assign include_future = trmnl.plugin_settings.custom_fields_values.includefuture == 'true' %}
{% assign updated_iso = updated | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%dT%H:%M:%S%z" %}

{% assign active_count = 0 %}
{% assign upcoming_count = 0 %}
{% for alert in features %}
  {% assign onset_local = alert.properties.onset | date: "%s" | plus: trmnl.user.utc_offset %}
  {% assign ends_local = alert.properties.ends  | date: "%s" | plus: trmnl.user.utc_offset %}
  {% if now_local >= onset_local and now_local <= ends_local %}
    {% assign active_count = active_count | plus: 1 %}  
  {% elsif onset_local > now_local %}
    {% assign upcoming_count = upcoming_count | plus: 1 %}  
  {% endif %}
{% endfor %}


<div class="layout">
  <div class="columns h--full">

    {%- comment -%} ACTIVE alerts: onset ≤ now ≤ ends {%- endcomment -%}
    <div class="column">
      <div class="list"
        data-list-limit="true"
        data-list-max-height="340"
        data-list-hidden-count="true"
        data-list-max-columns="1">
        <span class="label">Active</span>

        {% if active_count == 0 %}
          <span class="label label--gray-out">No Active Alerts</span>
        {% endif %}

        {% for alert in features %}
        {% assign onset_local = alert.properties.onset | date: "%s" | plus: trmnl.user.utc_offset %}
        {% assign ends_local  = alert.properties.ends  | date: "%s" | plus: trmnl.user.utc_offset %}

        {% if now_local >= onset_local and now_local <= ends_local %}
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="row">
                <span class="title title--small">{{ alert.properties.event }}</span>
                <span class="label label--small label--inverted">
                  {{ alert.properties.severity }}
                </span>
              </div>
              <span class="description clamp--2">
                {{ alert.properties.description | newline_to_br }}
              </span>
              <div class="flex gap--small">
                <span class="label label--small label--underline">
                  {{ alert.properties.onset | l_date: mask_time, trmnl.user.locale }}
                  –
                  {{ alert.properties.ends  | l_date: mask_time, trmnl.user.locale }}
                </span>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>

    {%- comment -%} UPCOMING alerts: onset > now {%- endcomment -%}
    {% if include_future %}
      <div class="list"
        data-list-limit="true"
        data-list-max-height="340"
        data-list-hidden-count="true"
        data-list-max-columns="1">
        <span class="label">Upcoming</span>

        {% if upcoming_count == 0 %}
          <span class="label label--gray-out">No Upcoming Alerts</span>
        {% endif %}

        {% for alert in features %}
        {% assign onset_local = alert.properties.onset | date: "%s" | plus: trmnl.user.utc_offset %}

        {% if onset_local > now_local %}
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <div class="row">
              <span class="title title--small">{{ alert.properties.event }}</span>
              <span class="label label--small label--inverted">
                {{ alert.properties.severity }}
              </span>
            </div>
            <span class="description clamp--2">
              {{ alert.properties.description | newline_to_br }}
            </span>
            <div class="flex gap--small">
              <span class="label label--small label--underline">
                {{ alert.properties.onset | l_date: mask_datetime, trmnl.user.locale }}
                –
                {{ alert.properties.ends  | l_date: mask_datetime, trmnl.user.locale }}
              </span>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
</div>

<div class="title_bar">
  <img class="image" class="image-dither" src="https://www.weather.gov/images/nws/nws_logo.png">
  <span class="instance">
    Updated {{ updated_iso | l_date: mask_datetime, trmnl.user.locale }}
  </span>
</div>
