<div class="view w--full h--full">
  {% render "main_content", 
      IDX_0: IDX_0,
      IDX_1: IDX_1,
      IDX_2: IDX_2,
      IDX_3: IDX_3,
      trmnl: trmnl,
      layout_size: "half-vertical",
      status: status,
      week: week %}
</div>

{% render "title_bar",
    IDX_0: IDX_0,
    IDX_1: IDX_1,
    trmnl: trmnl,
    layout_size: "empty" %}
