<div class="view w--full h--full">
  {% render "main",
      IDX_0: IDX_0,
      IDX_1: IDX_1,
      trmnl: trmnl,
      layout_size: "full",
      showInstance: true %}
</div>

{% render "title_bar",
    IDX_0: IDX_0,
    trmnl: trmnl,
    showInstance: true %}